.calculator {
	input,
	select {
		font-size: 27px;
		color: $placeholder-color;
		border: 1px solid $placeholder-color;
		border-radius: 25px;
		margin-top: 60px;
		width: 90%;
		background-position: right 10% center;
		background-size: 24px 18px;
		background-repeat: no-repeat;
	}

	input[type="number"] {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}

	// hide increment and decrement icons
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}

	// hide default calendar icon
	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
		opacity: 0;
		-webkit-appearance: none;
	}

	img {
		position: absolute;
		bottom: 18px;
		right: 22%;
		opacity: 0;
	}
	
	#productstyle {
		background-image: url("../img/arrow.svg");
	}

	#datepicker {
		background-image: url("../img/calendar.svg");
	}

	#productnumber {
		background-image: url("../img/info.svg");
	}
}